## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# makeidx
*.idx
*.ilg
*.ind
*.ist

# Specifická pravidla pro tento projekt:
poradi-kapitol.lst
pořadí-kapitol.lst
soubory_prekladu/
soubory_překladu/
vystup_prekladu/
výstup_překladu/
.swp

