Package: lkk
Version: {Version}
Architecture: all
Maintainer: Singularis <singularis@volny.cz>
Installed-Size: {Installed-Size}
Depends: bash (>= 4.4.18), gawk (>= 4.1.4)
Priority: optional
Homepage: https://singularis-mzf.github.io/
Description: Pomocné skripty a funkce pro Linux: Knihu kouzel.
 Pomocné skripty se po instalaci spouštějí příkazem „lkk“.
 Pro nápovědu zadejte lkk --help.
